@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about {
  background: #0a2850;
  padding: 100px 80px 173px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.about__title {
  max-width: 251px;
  margin: 0 auto 0 auto 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  z-index: 2;
}

.about__content {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  margin: 19px 0 173px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  gap: 20px;
}

.about__paragraph {
  margin: 0;
  padding: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
