.form__fieldset {
  margin: 0 auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.form__label {
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  color: #838383;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button {
  border: none;
  border-radius: 4px;
  height: 60px;
  background-color: #2f80ed;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-color: #fff;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  color: #838383;
  border-width: 1px;
  border-style: solid;
  padding: 0px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0px;
}

.form__label_type_checkbox {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__label-checkbox {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

input[type="checkbox"] {
  accent-color: #2f80ed;
}
