.header {
  background: #ffffff url(../images/background_header.svg) no-repeat center;
  background-size: cover;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__title {
  position: relative;
  margin: 183px 0 0;
  max-width: 729px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  position: relative;
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}
